main{
  position: absolute;
  top: 100px;
  left: 5%;
  display: grid;
  width: 90%;
  margin: auto;
  background-color: aqua;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  //justify-content: center;

  div{
    img{
      width: 100%;
      border-radius: 10px;
      border: 2px solid #000;
    }

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

}
