*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

a:link{
    text-decoration: none;
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    min-height: 8vh;

    .logo{
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    li{
        list-style: none;
    }

    .nav-links{
        display: flex;
        width: 35%;
        justify-content: space-around;
    }

    .burger div{
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }
}